@import '../../../assets/styles/mixins';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.courses__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 20px;
    
    @include onDesktop {
        grid-template-columns: repeat(2, 1fr);
    }
}

.pagination__container {
    display: flex;
    justify-content: center;
}
