$backgroundColor: #d9d7d1;
$titleColor: dimgray;
$blueText: rgb(51, 70, 135);
$blueTextDisable: rgb(51, 70, 135, 0.5);
$redText: rgb(211, 80, 65);
$border: 0.5px solid #c9c9c9;

$shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$standartDelay: 0.3s; 
